<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="{% url 'admin_add_tips_post' %}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  {% csrf_token %} {# Add this line for CSRF protection #}
  <table width="400" border="1">
    <tr>
      <td>Tip Name</td>
      <td><label>
        <input type="text" name="tip_name" />
      </label></td>
    </tr>
    <tr>
      <td>Select Tip File </td>
      <td><label>
        <input type="file" name="tip_file" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
