<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Admin Add Camera</title>
</head>

<body>
<form action="/admin_add_camera_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  {% csrf_token %}
  <table width="200" border="1">
    <tr>
      <td>Camera No. </td>
      <td><label>
        <input type="text" name="camera_no" />
      </label></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><label>
        <input type="text" name="latitude" />
      </label></td>
    </tr>
    <tr>
      <td><p>Longitude</p>      </td>
      <td><input type="text" name="longitude" /></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
  <label></label>
</form>
</body>
</html>
