<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Edit Dangerous Spot</title>
</head>

<body>
<h1>Edit Dangerous Spot</h1>
<form id="form1" name="form1" method="post" action="">
  {% csrf_token %}
  <table width="400" border="1">
    <tr>
      <td>Name</td>
      <td><label>
        <input type="text" name="name" value="{{ spot.name }}" required/>
      </label></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><label>
        <input type="text" name="latitude" value="{{ spot.latitude }}" required/>
      </label></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><label>
        <input type="text" name="longitude" value="{{ spot.longitude }}" required/>
      </label></td>
    </tr>
     <tr>
      <td>Date</td>
      <td><label>
        <input type="date" name="date" value="{{ spot.date|date:'Y-m-d' }}" required/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Update Dangerous Spot" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>