<!DOCTYPE html>
<html>
<head>
    <title>Password Reset for {{ app_name }}</title>
</head>
<body>
    <p>Hello {{ user_name }},</p>

    <p>You recently requested to reset the password for your {{ app_name }} account.</p>

    <p>Please click on the following link to reset your password:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

    <p>If you did not request a password reset, please ignore this email.</p>

    <p>Thank you,</p>
    <p>The {{ app_name }} Team</p>
</body>
</html>