<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<h1>Officer view camera</h1>
<form id="form1" name="form1" method="post" action="">
  <table width="440" border="1">
    <tr>
      <td colspan="3"><div align="center"></div></td>
      <td width="48">&nbsp;</td>
      <td width="48">Name:</td>
      <td width="144"><label>
        <input type="text" name="textfield" />
      </label></td>
      <td width="56"><label>
        
        <div align="center">
          <input type="submit" name="Submit" value="Search" />
          </label>
          </div></td>
    </tr>
    <tr>
      <td width="24"><div align="center">Sno</div></td>
      <td width="37">Camera No.  </td>
      <td width="37">Latitude</td>
      <td>Longitude</td>
      <td>&nbsp;</td>
      <td><div align="center"></div></td>
      <td><div align="center"></div></td>
    </tr>
    <tr>
      <td><div align="center"></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">View camera </a></td>
      <td><div align="center"><a href="#">edit</a></div></td>
      <td><div align="center"><a href="#">delete</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
